# Root GitIgnore for NewVeg Workspace

# App/Flutter Ignores
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/newveg.iml
app/.idea/

# Web/Backend Ignores
web/.env
web/uploads/recipes/*
!web/uploads/recipes/default.jpg
web/uploads/news/*
!web/uploads/news/default.jpg

# Operating System files
Thumbs.db
Desktop.ini
.DS_Store

# IDE and Editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
